<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produit">
            <h2><span jhiTranslate="coopcycleApp.produit.detail.title">Produit</span> {{ produit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.produit.nom">Nom</span></dt>
                <dd>
                    <span>{{ produit.nom }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.produit.prix">Prix</span></dt>
                <dd>
                    <span>{{ produit.prix }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.produit.disponibilite">Disponibilite</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'coopcycleApp.Dispo.' + produit.disponibilite }}">{{ produit.disponibilite }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.produit.description">Description</span></dt>
                <dd>
                    <span>{{ produit.description }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.produit.restaurant">Restaurant</span></dt>
                <dd>
                    <div *ngIf="produit.restaurant">
                        <a [routerLink]="['/restaurant', produit.restaurant?.id, 'view']">{{ produit.restaurant?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.produit.panier">Panier</span></dt>
                <dd>
                    <span *ngFor="let panier of produit.paniers; let last = last">
                        <a [routerLink]="['/panier', panier?.id, 'view']">{{ panier.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produit', produit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
